<div class="searchButton">
  <%= form_tag findshelter_path, :method => :get do %>
    <%= label_tag :search, "Enter new location" %>
    <%= text_field_tag :search, params[:search], class: "smallField" %>
    <%= submit_tag "Search", :name => nil, class: "btn btn-header" %>
  <% end %>
</div>