		<div class="btn btn-inverse btn-header btn-large"><i class="icon-heart icon-white"></i> Follow Me</div>
		<div class="btn btn-inverse btn-header btn-large"><i class="icon-pencil icon-white"></i> Edit Me</div>