<div class="span12 adminView">
  <%= will_paginate @pets %>
  <table class="table table-condensed table-bordered">
    <thead>
      <th style="width:150px;">Added</th>
      <th style="width:90px;">Animal ID</th>
      <th style="width:230px;">Name</th>
      <th>Status</th>
    </thead>
    </tr>
  </table>
  <ul>
    <%= render partial: 'managed_pet', 
        collection: @pets.sort_by{|p| ['available', 'adopted', 'unavailable'].index(p.pet_state.status)}, 
        as: :f %>
  </ul>
  <%= will_paginate @pets %>
</div>

<script>
  $(function(){
		$('div.btn-group[data-toggle-name=*]').each(function(){
		  var group   = $(this);
		  var form    = group.parents('form').eq(0);
		  var name    = group.attr('data-toggle-name');
		  var hidden  = $('input[name="' + name + '"]', form);
		  $('button', group).each(function(){
		    var button = $(this);
		    button.live('click', function(){
	        hidden.val($(this).val());
					// Submit pet state changes on click
					if($('#managed_pets').length) {
						$(this).parent().parent().find("input[type=submit]").click();
					};
		    });
		    if(button.val() == hidden.val()) {
		      button.addClass('active');
		    };
		  });
		});
  });
</script>