<div class="span12 adminView">
  <table class="table table-condensed table-bordered">
    <thead>
	    <th style="width:260px;border-left:none;">Name</th>
      <th style="width:149px;">Animal ID</th>
      <th style="width:239px;">Sponsor</th>
      <th style="width:139px;">Added</th>
      <th>Stay</th>
    </thead>
    </tr>
  </table>
  <ul>
    <%= render partial: 'managed_pet', 
        collection: @pets, 
        as: :f %>
  </ul>
  <%= will_paginate @pets %>
</div>
<div id="modalTarget"></div>