<div class="row pets">
	<ul class="nav nav-pills span10 offset1">
	  <li class="active">
			<a href="#available" data-toggle="tab">Available</a>
		</li>
	  <li>
			<a href="#adopted" data-toggle="tab">Adopted</a>
		</li>
		<div class="tab-content description">
		  <div class="tab-pane active" id="available">
		  	available pets
		  </div>
		  <div class="tab-pane" id="adopted">
		  	adopted pets
		  </div>
		</div>
	</ul>
</div>