<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://placehold.it/470x385" alt="" width="100%">
    </div>
    <div class="item">
      <img src="http://placehold.it/470x385" alt="" width="100%">
    </div>
    <div class="item">
      <img src="http://placehold.it/470x385" alt="" width="100%">
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>