<div id="shelterMap">
  <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%=@current_location.gsub(/ /,'+')%>&size=490x600<%= render partial: 'found_shelters_map', collection: @nearbys, as: :f %>&&sensor=false&key=AIzaSyBhRhKDSxCbsS-gmm9KT6O6n_Zy6JjS8_g" width="100%" height="100%">
</div>