<div class="span12 adminView">
  <table class="table table-condensed table-bordered">
    <thead>
      <th style="width:50px;">ID</th>
      <th style="width:100px;">Available</th>
      <th style="width:100px;">Absent</th>
      <th style="width:100px;">Adopted</th>
      <th style="width:100px;">Unavailable</th>
      <th style="width:100px;">Fostered</th>
      <th>Name</th>
    </thead>
    </tr>
  </table>
  <ul>
    <%= render @shelters %>
  </ul>
  <%= will_paginate %>
</div>