<div class="icon petTile <%= (@pet.affection.name == 'reserved') ? 'low' : ( (@pet.affection.name == 'friendly') ? 'mid' : 'high') %>AffectionIcon"></div>
<div class="tiletag"><%= @pet.affection.name %></div>