<div class="icon">
  <%= image_tag("#{@pet.age_group}#{@pet.gender.sex.capitalize}Icon.png") %>
</div>
<div class="tiletag">
  <%= @pet.current_age %>
   old 
  <%= @pet.age_group %>
  <%= @pet.gender.sex %>
</div>