<div class="icon petTile <%= render 'pets/icons/color' %>"></div>
<div class="tiletag">
  <%= @pet.primary_color == nil ? @pet.fur_length.length + " " + @pet.secondary_color.color : ( @pet.secondary_color == nil ? @pet.fur_length.length + " " + @pet.primary_color.color : @pet.fur_length.length + " " + @pet.primary_color.color + " & " + @pet.secondary_color.color) %> Fur
</div>