<div class="icon petTile <%= @pet.energy_level.level == 'relaxed' ? 'low' : ( @pet.energy_level.level == 'moderate' ? 'mid' : 'high' ) %>EnergyIcon"></div>
<div class="tiletag"><%= @pet.energy_level.level %></div>