<div class="icon petTile <%= @pet.nature.name == 'submissive' ? 'low' : ( @pet.nature.name == 'playful' ? 'mid' : 'high' ) %><%= @pet.species.name.humanize%>NatureIcon"></div>
<div class="tiletag"><%= @pet.nature.name %></div>