<div class="icon">
  <%= link_to "", "#", class: "petTile #{f.affection.name == 'reserved' ? 'low' : (f.affection.name == 'friendly' ? 'mid' : 'high')}AffectionIcon", rel: "tooltip", title: f.affection.name.humanize %>
</div>