<div class="icon">
  <% if f.energy_level.level == 'relaxed' %>
    <%= link_to "", "#", class: "petTile lowEnergyIcon", rel: "tooltip", title: f.energy_level.level.humanize %>
  <% elsif f.energy_level.level == 'moderate' %>
    <%= link_to "", "#", class: "petTile midEnergyIcon", rel: "tooltip", title: f.energy_level.level.humanize %>
  <% else %>
    <%= link_to "", "#", class: "petTile highEnergyIcon", rel: "tooltip", title: f.energy_level.level.humanize %>
  <% end %>
</div>