<div class="icon">
  <%= link_to "", "#", class: "petTile #{f.nature.name == 'submissive' ? 'low' :(f.nature.name == 'playful' ? 'mid' : 'high')}#{f.species.name.humanize}NatureIcon", rel: "tooltip", title: f.nature.name.humanize %>
</div>