<div class="icon">
  <%= link_to "", "#", class: "petTile #{ f.size.name == 'small' ? 'low' : ( f.size.name == 'medium' ? 'mid' : 'high' ) }Size#{f.species.name.titleize}Icon", rel: "tooltip", title: "#{f.weight.blank? ? '' : f.weight.to_s + ' lb '}" + f.size.name.capitalize + " " + f.species.name %> 
  <% if f.weight != ''%> 
  <span class="weight"><%= f.weight %></span>
  <% end %>
</div>