<div class="sidebar-element">
	<h3>Blog</h3>
	<%= image_tag("114x100.gif", style:"float:right;") %>
	<div class="blurb">
		<h4>A Shelter Miracle</h4>
		<p>Your mother was a hamster and your father smelt of elderberries! Now leave before I am forced to taunt you a second time!</p>
		<a href="#">Read the story</a>
	</div>
	<div class="clearfix"></div>
	<hr>
</div>