<div class="sidebar-element">
	<h3>
		<div class="sideIcon landingIcons blogIcon"></div>
	  <div class="landingText blogText"></div>
	</h3>
  <% unless @image == "none" %>
  <%= image_tag(@image, class: "sideImage", style:"float:right;", width: "114") %>
  <% end %>
  <div class="blurb">
    <h4><%= link_to @title, @link, target: "_blank" %></h4>
    <p><%= @content %></p>
    <%= link_to "Read more", @link, target: "_blank" %>
  </div>
  <div class="clearfix"></div>
</div>