<div class="contestPromo">
  <div class="videoContest"></div>
  <%= link_to image_tag("http://smvcvideos.s3.amazonaws.com/8b280cce8bb6109fdbecfa67477d5d5d_1.jpg", width: "299", height: "168"), "http://contest.shelterme.com/videos/108", target: "_blank"%>
  <p>Thank you to everyone who contributed to the contest and congratulations to the winners!</p>
  <p>The first prize winner was Sherry Stinson for her video <%= link_to "Saving lives, one photo at a time", "http://contest.shelterme.com/videos/108", target: "_blank"%>.</p>
</div>
<hr>
<div class="clearfix"></div>