<div class="sidebar-element">
  <h3 style="font-weight:bold;color:#d54509;">Adoption Event</h3>
  <div class="blurb">
    <p>More than 100 pets will be available at an adoption event this Saturday, August 9th at Pet Food Express in Rolling Hills Estates, CA.</p>
    <%= link_to "Learn more", events_path %>
  </div>
  <%= link_to image_tag("matchMeImage.png", width: "420", height: "148", style:"max-width:350px;margin-top:-4px;margin-left:-40px;margin-bottom:-35px;"), events_path %>
  <hr>
  <div class="clearfix"></div>
</div>