<div class="sidebar-element">
	<h3>Mobile App</h3>
	<div class="blurb">
		<p>Use our custom app to do cool stuff and find the perfect pet for you. Coming soon for both iOS and Android.</p>
	</div><br>
	<%= image_tag("114x100.gif") %>
	<%= image_tag("114x100.gif", style:"float:right;") %>
	<div class="clearfix"></div>
</div>