<div class="sidebar-element">
	<h3>
		<div class="sideIcon landingIcons mobileIcon"></div>
    <div class="landingText mobileText"></div>
	</h3>
  <div class="blurb">
    <p>Use the ShelterMe mobile app to create a new profile, add to an existing pet profile or to find your perfect pet. <br><br>Coming soon for both iOS and Android.</p>
  </div><br>
  <div class="sideLink">
    <%= image_tag("apple64.png") %>
  </div>
  <div class="sideLink">
    <%= image_tag("android64.png") %>
  </div>
  <div class="clearfix"></div>
</div>