<div class="sidebar-element">
  <h3><%= image_tag("mobileIcon.png", class: "sideIcon") %> <%= image_tag("forMobile.png", alt: "Mobile App") %></h3>
  <div class="blurb">
    <p>Use the ShelterMe mobile app to create a new profile, add to an existing pet profile or to find your perfect pet. <br><br>Coming soon for both iOS and Android.</p>
  </div><br>
  <div class="sideLink">
    <%= link_to image_tag("apple64.png"), "#" %>
  </div>
  <div class="sideLink">
    <%= link_to image_tag("android64.png"), "#" %>
  </div>
  <div class="clearfix"></div>
</div>