<div>
  <h2><%= image_tag("featuredPets.png", alt: "Featured Pets") %></h2> <!-- Pets available the longest -->
  <%= render partial: "shared/pet_tile", 
      collection: Pet.all.select{|p| p.pet_state.status == 'available'}.first(4), 
      as: :f %>
</div>