<div class="featured-pets">
  <h2 class="landingText featuredPetsText"></h2>
  <% if @featured_pets.size > 0 %>
  <%= render partial: "shared/pet_tile", 
      collection: @featured_pets, 
      as: :f %>
  <% else %>
    <% if @location == "MapQuest not responding" %>
      <p>Our apologies, but we cannot look up any pets right now. Our geocoding service is currently unavailable. Please try back later.</p>
    <% else %>
      <p>Sorry, but there aren't any available pets in our database near <%= cookies[:location] %>.</p>
    <% end %>
  <div class="noPets" style="margin-top: 20px;margin-bottom: 20px;">
    <%= image_tag("noPetsImage.png") %>
  </div>
  <% end %>
</div>