<div class="featured-shelter">
	<h2>Featured Shelter</h2>
	<div class="featured-shelter-map">
		<div class="address-block">
			<h3>Shelter Name</h3>
			<p>street address, city, state</p>
		</div>
		<div class="address-map">
			<%= render "shared/thin_map" %>
		</div>
	</div>
	<h4>At this Shelter</h4>
	<%= render "shared/pet_tile" %>
	<%= render "shared/pet_tile" %>
</div>