<div class="sidebar-element">
	<h3>
		<div class="sideIcon landingIcons tutorialIcon"></div>
	  <div class="landingText tutorialText"></div>
	</h3>
  <%= link_to image_tag("tutorial.jpg", class: "tutorialTease", width: "259", height: "144"), tutorial_path %>
  <div class="clearfix"></div>
  <hr>
</div>