<div class="sidebar-element">
  <h3><%= image_tag("videoIcon.png", class: "sideIcon") %> <%= image_tag("tutorial.png", alt: "Tutorial") %></h3>
  <%= link_to image_tag("tutorial.jpg", class: "tutorialTease"), tutorial_path %>
  <div class="clearfix"></div>
  <hr>
</div>