<% provide(:title, "Events") %>
<div class="container content">
  <div class="profile-section">
    <div class="pageHeader">
	  <div class="largeIcon shelterIcon"></div>
	  <div class="headerInfo">
	    <h1>Events</h1><br>
	    <p>(click banners below for more details &amp; lists of available pets)</p>
	  </div>
    </div>
	<div class="row" style="margin-top:20px;margin-left:0px;">
		There are no upcoming events at this time.
	</div>
  </div> 
</div>