<% provide(:title, "Events") %>
<div class="container content">
  <div class="profile-section">
    <div class="pageHeader">
	  <div class="largeIcon shelterIcon"></div>
	  <div class="headerInfo">
	    <h1>Events</h1><br>
	    <p>(click banners below for more details &amp; lists of available pets)</p>
	  </div>
    </div>
	<div class="row" style="margin-top:20px;">
		<%= link_to image_tag('RollingHills_8_9.jpg'), events_8_9_path, {style:"margin:0 9px 0 20px;float:left;"} %>
		<%= link_to image_tag('RollingHills_8_10.jpg'), events_8_10_path, {style:"margin:0 0 0 9px;float:right;"} %>
	</div>
  </div> 
</div>