<%= provide(:title, 'All Shelter Admins') %>
<div class="container content">
  <div class="profile-section">
    <div class="pageHeader">
      <%= render "shared/header_logo" %>
      <div class="headerInfo">
        <h1><%= User.all.select{|p| p.manager? }.count %> Shelter Admins</h1>
      </div>
    </div>
    <div id="shelter_admins" class="row">
      <%= render 'shelter_admins' %>
    </div>
  </div>
</div>