<div class="span8">
	<div class="span3">
		<div class="btn btn-inverse btn-header btn-large"><i class="icon-camera icon-white"></i> Add Photo</div>
	</div>
	<div class="span3 offset1">
		<div class="btn btn-inverse btn-header btn-large"><i class="icon-film icon-white"></i> Add Video</div>
	</div>
</div>