<div class="row">
  <div class="span6 offset3">
    <%= image_tag("matchFound.png", class: "formHeader")%>
    <p>Someone has already created a profile for this pet.</p>
    <p>Please contribute your thoughts, photos, and videos to the profile.</p>
    <%= link_to "View Profile", @pet, class: "btn" %>
  </div>
</div>