<div class="row">
  <div class="leftHalf">
	  <p>Please complete the following steps:</p>
	  <div class="listCircle">1</div>
    <p>Enter the <span class="animalID">Animal ID</span> for the pet. Include the entire ID, including numbers and leading letter(s), if any (e.g., A1379099).</p>
		<div class="listCircle">2</div>
    <p>Click the ADD button.</p>
		<div class="listCircle">3</div>
		<p>Click OK in the pop-up (click Cancel if you made a mistake).</p>
		<div class="listCircle">4</div>
		<p>Enter information about the pet.</p>
		<div class="listCircle">5</div>
		<p>Add a photo of the pet. Make sure you have one available, as the pet will not be visible without a photo.</p>
		<p>Watch our <%= link_to "tutorial", tutorial_path %> for more information.</p>
  </div>
  <div class="rightHalf">
    <%= image_tag "baby_cageCard.jpg", style:"float:right;margin-bottom:30px;", class: "animalID", width: "555", height: "400" %>
    <%= image_tag("logo_small.png", alt: "Shelter Me", class: "logoLR", width: "97", height: "49") %>
  </div>
</div>