<div class="description">
	<h3>
    <%= image_tag("description.png", alt: "My Sponsor", class: "noPrint", style: "padding-top:6px;") %>
    <span class="print" style="float:left;margin-top:8px;">Description</span>
  </h3>
  <div class="print clearfix"><br></div>
  <p><%= @pet.description %></p>
</div>