<div class="description">
  <h3 class="profileText descriptionText noPrint"></h3>
  <h3><span class="print" style="float:left;margin-top:8px;">Description</span></h3>
  <div class="print clearfix"><br></div>
  <p class="petDescription"><%= @pet.description %></p>
</div>