<div class="pet-tile editPhoto">
	<div class="tile-photo">
		<%= image_tag(f.panda_video.encodings["h264"].screenshots.first) %>
	</div>
	<%= form_for f, html: {multipart: true} do |p| %>
  <%= link_to "Delete", f, method: :delete, class: "deletePhoto" %>
	<% end %>
</div>