<div class="span8 show-grid">
	<div class="span1 offset1 legend">icon</div>
	<div class="span1 legend">icon</div>
	<div class="span1 legend">icon</div>
	<div class="span1 legend">icon</div>
	<div class="span1 legend">icon</div>
	<div class="span1 legend">icon</div>
</div>
