<div class="span12 adminView">	
  <table class="table table-condensed table-bordered">
    <thead>
	    <th style="width:200px;border-left:none;">Name</th>
      <th style="width:89px;">Animal ID</th>
      <th style="width:209px;">Shelter</th>
      <th style="width:169px;">Sponsor</th>
      <th style="width:122px;">Added</th>
      <th>Stay</th>
    </thead>
    </tr>
  </table>
  <ul>
    <%= render @pets %>
  </ul>	
	<%= will_paginate %>
</div>
<div id="modalTarget"></div>