<div class="span12 adminView">	
  <%= will_paginate %>
  <table class="table table-condensed table-bordered">
    <thead>
      <th style="width:49px;">SMID</th>
      <th style="width:119px;">Added</th>
      <th style="width:89px;">Animal ID</th>
      <th style="width:204px;">Name</th>
      <th>Status</th>
    </thead>
    </tr>
  </table>
  <ul>
    <%= render @pets %>
  </ul>	
	<%= will_paginate %>
</div>