<div class="span8">
	<div id="photoCarousel" class="carousel slide">
	  <div class="carousel-inner">
	    <div class="item active">
	      <%= image_tag("sammy_61.jpg", alt: "Sammy") %>
	    </div>
	    <div class="item">
	      <%= image_tag("sammy_72.jpg", alt: "Sammy") %>
	    </div>
	    <div class="item">
	      <%= image_tag("sammy_105.jpg", alt: "Sammy") %>
	    </div>
	    <div class="item">
	      <%= image_tag("sammy_108.jpg", alt: "Sammy") %>
	    </div>
	  </div>
	  <a class="right carousel-control" href="#photoCarousel" data-slide="next">&rsaquo;</a>
	</div>
</div>

