<div id="photoFader" class="fader <%= @pet.pet_photos.size == 0 and @pet.user == current_user ? 'noPhoto' : '' %>">
  <div class="fader-inner">
    <% @pet.pet_photos.sort_by {|p| p.primary ? 0:1 }.each_with_index do |m, i| %>
      <% if i == 0 %>
        <%= image_tag(m.image_url(:large).to_s, class: "active", title: "Photo contributed by #{m.user ? m.user.name : "Shelter Me"}") %>
      <% else %>
        <%= image_tag(m.image_url(:large).to_s, title: "Photo contributed by #{m.user ? m.user.name : "Shelter Me"}") %>
      <% end %>
    <% end %>
  </div>
  <% if @pet.pet_photos.size > 1 %> 
  <a class="fader-control" href="#prev">&lsaquo;</a>
  <a class="next fader-control" href="#next">&rsaquo;</a>
  <% end %>
</div>