<!-- PINTEREST SHARE -->

<div class="socialItem noPrint">
  <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2F<%=request.host_with_port+request.fullpath%>&media=<%= @pet.pet_photos.count > 0 ? (@pet.pet_photos.select{|p| p.primary == true}.count > 0 ? @pet.pet_photos.select{|p| p.primary == true}.first.image_url.to_s.gsub!(/upload/,"upload/a_exif,c_fill,g_faces,h_200,w_300/w_75,g_south_east,l_watermark_semq96,x_5,y_5").gsub(/\:\/\//, '%3A%2F%2F') : @pet.pet_photos.first.image_url.to_s.gsub!(/upload/,"upload/a_exif,c_fill,g_faces,h_200,w_300/w_75,g_south_east,l_watermark_semq96,x_5,y_5").gsub(/\:\/\//, '%3A%2F%2F')) : "" %>&description=<%=@pet.description%>" class="pin-it-button" count-layout="horizontal" target="_blank"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
</div>

<!-- END PINTEREST SHARE -->