<div class="social">
  <h3 class="profileText shareMeText noPrint"></h3>
  <h3 class="print">Share Me</h3>
  <%= render 'facebook' %>
  <%= render 'twitter' %>
  <%= render 'googleplus' %>
  <div class="socialItem noPrint">
    <a class="btn btn-mini btn-print" href="JavaScript:window.print();"><i class="icon-print"></i> Print</a>
  </div>
  <div class="clearfix"></div>
</div>