	<div class="span4">
		<div class="well">
			<h3>SHARE ME</h3>
			<br>
			<%= render 'twitter' %>
			<%= render 'googleplus' %><br><br>
			<%= render 'pinterest' %>
			<a class="btn btn-mini btn-info btn-print" href="#" target="_blank">PRINT ME</a>
			<br><br>
			<%= render 'facebook' %>
		</div>
	</div>