<div id="videoCarousel" class="carousel slide">
  <div class="carousel-inner">
    <% @pet.pet_videos.each_with_index do |m, i| %>
      <div class="item <%= i == 0 ? "active" : ''%>">
	      <% if m.panda_video.status == "success" %>
				  <video id="movie" width="592" height="394" preload="none" 
				    poster="<%= m.panda_video.encodings["h264"].screenshots.first %>" controls>
				    <source src="<%= m.panda_video.encodings["h264"].url %>" type="video/mp4">
					  <source src="<%= m.panda_video.encodings["ogg"].url %>" type="video/ogg">
				  </video>
				<% elsif m.panda_video.status == "processing" %>
				  <p>Still processing this video...please check back in a bit.</p>
				<% end %>
      </div>
    <% end %>
  </div>
  <% if @pet.pet_videos.size > 1 %>
  <a class="left carousel-control" href="#videoCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#videoCarousel" data-slide="next">&rsaquo;</a>
  <% end %>
</div>



