<li>
  <div class="modalElement modalStep">
    <div class="listCircle">1</div>
    <h3><%= image_tag("contact.png", alt: "Contact") %></h3>
  </div>
  <div class="modalElement modalInfo">
    <p><%= @pet.shelter.name %><br>
    <%= @pet.shelter.phone ? @pet.shelter.phone : '' %></p>
  </div>
  <div class="clearfix"></div>
</li>