<li>
  <div class="modalElement">
    <div class="listCircle">2</div>
    <h3>Ask About</h3>
  </div>
  <div class="modalElement">
    <p><%= @pet.name %><br>
    <%= @pet.animal_code %></p>
  </div>
  <div class="clearfix"></div>
</li>