<li>
  <div class="modalElement modalStep">
    <div class="listCircle">2</div>
    <h3><%= image_tag("askAbout.png", alt: "Ask About", class: "noPrint") %>
    <span class="print" style="float:left;margin-top:8px;">Ask About</span></h3>
  </div>
  <div class="modalElement modalInfo">
    <p><%= @pet.animal_code %></p>
  </div>
  <div class="clearfix"></div>
</li>