<div id="waiting" class="hide">
 <%= image_tag("spinner.gif", width: "55", height: "55")%>
 <br>
 <h2 style="text-align:center;">Searching...</h2>
</div>
<div class="findBlurb" style="height:290px;">
  <%= image_tag("bestFriendsMeet.png", width: "540", height: "30")%><br><br>
  <p>ShelterMe uses a simple personality profile to help find your ideal animal.</p>
  <p>There are no right or wrong answers, so pick the options you feel describe you best.</p>
  <p>All highlighted fields are required.</p>
  <p>If you want either a dog or a cat, please indicate your preference.</p>
  <p>Only pets available near your specified location will be considered.</p>
</div>
<div class="row" style="height:160px;">
  <div class="matchMe">
    <%= image_tag("matchMeImage.png", width: "420", height: "148") %>
  </div>
  <div class="cornerLogo" style="margin-bottom: 10px;">
    <%= image_tag("logo_small.png", alt: "Shelter Me", width: "97", height: "49") %>
  </div>
</div>