<div id="waiting" class="hide">
 <%= image_tag("spinner.gif")%>
 <br>
 <h2 style="text-align:center;">Searching...</h2>
</div>
<div class="findBlurb" style="height:290px;">
  <%= image_tag("bestFriendsMeet.png")%><br><br>
  <p>ShelterMe uses a simple personality profile to help find your ideal animal.</p>
  <p>There are no right or wrong answers, so pick the options you feel describe you best.</p>
  <p>If you prefer either a dog or a cat, please indicate your preference.</p>
  <p>Only pets available near your specified location will be considered.</p>
</div>
<div class="row" style="height:160px;">
  <div class="matchMe">
    <%= image_tag("matchMeImage.png") %>
  </div>
  <div class="cornerLogo" style="margin-bottom: 10px;">
    <%= image_tag("logo_small.png", alt: "Shelter Me") %>
  </div>
</div>