<div id="waiting" class="hide">
 <%= image_tag("wheel.gif")%>
 <br>
 <h2 style="text-align:center;">Searching...</h2>
</div>
<div class="findBlurb" style="height:290px;">
  <p>ShelterMe uses a simple personality profile to help find your ideal animal.<br><br>
  Please describe yourself by making a selection for each of the choices above. There are no right or wrong answers, so pick the options you feel describe you best. If you prefer either a dog or a cat, please indicate your preference as well.<br><br>
  Only pets available near your specified location will be displayed.
  </p>
</div>
<div class="row" style="height:160px;">
  <div class="matchMe">
    <%= image_tag("matchMeImage.png") %>
  </div>
  <div class="cornerLogo" style="margin-bottom: 10px;">
    <%= image_tag("logo_small.png", alt: "Shelter Me") %>
  </div>
</div>