<div class="span12 adminView">
  <table class="table table-condensed table-bordered">
    <thead>
      <th style="width:50px;">ID</th>
      <th style="width:120px;">Granted</th>
      <th style="width:330px;">Shelter</th>
      <th>Name</th>
    </thead>
    </tr>
  </table>
  <ul>
    <%= render partial: "shelter_admin",
        collection: @shelter_admins,
        as: :f %>
  </ul>
  <%= will_paginate @shelter_admins %>
</div>