<div class="span12 adminView">
  <table class="table table-condensed table-bordered">
    <thead>
      <th style="width:50px;border-left:0;">ID</th>
      <th style="width:120px;">Joined</th>
      <th style="width:60px;">Added</th>
      <th style="width:60px;">Follows</th>
      <th style="width:60px;">Posts</th>
      <th style="width:60px;">Photos</th>
      <th style="width:60px;">Videos</th>
      <th>Name</th>
    </thead>
    </tr>
  </table>
  <ul>
    <%= render @users %>
  </ul>
  <%= will_paginate %>
</div>