<div class="profile-section commentsColumn">
  <h4><%= image_tag("comments.png", alt: "Comments") %></h4>
  <% if @user.microposts.any? %>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
  <% end %>
</div>