<%= provide(:title, 'My Updates') %>
<div class="container content">
  <div class="profile-section">
    <div class="pageHeader">
      <div class="largeIcon editIcon"></div>
      <div class="headerInfo">
        <h1>My Updates</h1>
      </div>
    </div>
    <div class="row">
      <div id= "activity" class="fullWidth">
        <%= render 'activity_feed' %>
        <div class="clearfix"></div>
        <%= will_paginate @activity, style: "visibility: hidden;" %>
      </div>
    </div>
  </div>
</div>