<%= provide(:title, 'My Videos') %>
<div class="container content">
  <div class="profile-section">
    <div class="pageHeader">
      <div class="headerLogo">
        <%= image_tag("videoIcon.png")%>
      </div>
      <div class="headerInfo">
        <h1>
	        <%= @videos.count == 0 ? "No Videos" : "My #{pluralize(@videos.count, 'Video')}" %>
	      </h1>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <%= render partial: "video", collection: @videos, as: :f %>
      </div>
    </div>
  </div>
</div>