<div class="largeIcon <%= params[:controller] == 'pets' ? (params[:action] == 'show' ? (@pet.species.name == 'dog' ? 'dogIcon' : 'catIcon') : 'dogIcon') : (params[:controller] == 'shelters' ? 'shelterIcon' : (params[:controller] == 'users' ? 'editProfileIcon' : (params[:controller] == 'microposts' ? 'editIcon' : (params[:controller] == 'pet_photos' ? 'photoIcon' : (params[:controller] == 'pet_videos' || (params[:controller] == 'static_pages' && params[:action] == 'tutorial') ? 'videoIcon' : ''))))) %>">
	<% if params[:controller] == 'users' and params[:action] == 'show' %>
	  <%= avatar_for @user, size: 63 %>
	<% end %>
</div>