<div class="container">
  <div class="heroBlurb" style="width:400px;">
    <%= image_tag("logo.png", alt: "Shelter Me", class: "logo-large") %>
    <h2>Shelter Me Video promo</h2>
    <p>The Lady of the Lake, her arm clad in the purest shimmering samite, held aloft Excalibur from the bosom of the water, signifying by divine providence that I, Arthur, was to carry Excalibur.</p>
  </div>
  <div class="heroContent" style="margin-top:40px;">
    <iframe width="500" height="281" src="http://www.youtube.com/embed/hbpuzl3BNeI?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>