<div class="container">
  <div class="heroBlurb" style="width:540px;">
    <h2><%= image_tag("theSocialNetwork.png") %></h2>
    <p>There are millions of pets in U.S. shelters and they need your help!</p><br>
    <p>You may ask, "What can I do?" Even if you're not looking to adopt, shelters need your support.</p><br>
    <div class="smallCat">
	    <%= image_tag("smallHeroCat.png") %>
    </div>
    <p>Our goal is to encourage people to visit their local shelters so these pets can have a second chance.</p><br>
    <p><a href="#heroCarousel" data-slide="next">Learn more</a></p>
  </div>
  <div class="heroContent heroLogo">
	  <%= image_tag("logoHero.png") %>
  </div>
</div> 