<div class="container">
  <div class="heroBlurb" style="width:537px;">
    <%= image_tag("logo.png", alt: "Shelter Me", class: "logo-large") %>
    <h2><%= image_tag("improvingLives.png") %></h2>
    <p>You look…perfect. I'm really more an apartment person. I'm doing mental jumping jacks. Under normal circumstances, I'd take that as a compliment.</p>
  </div>
  <div class="heroContent">
    <%= image_tag("heroDog.png") %>
  </div>
</div>