<div class="container hero">
	<div style="width=600px;display:inline;float:left;">
		<%= image_tag("logo.png", alt: "Shelter Me", class: "logo-large") %>
		<h2>Improving lives, one shelter pet at a time.</h2>
		<p>You look…perfect. I'm really more an apartment person. I'm doing mental jumping jacks. Under normal circumstances, I'd take that as a compliment.</p>
		<div class="btn btn-inverse btn-large">Watch the film <i class="icon-chevron-right icon-white"></i></div>
	</div>
</div>