<div class="container hero">
	<%= image_tag("logo.png", alt: "Shelter Me", class: "logo-large") %>
	<h2>This is the 2nd page for the Shelter Me</h2>
	<p>I had more, but you go ahead. Throw her in the brig. Oh, how awful. Did he at least die painlessly? …To shreds, you say. Well, how is his wife holding up? …To shreds, you say.</p>
</div>