<div class="container">
  <div class="heroBlurb" style="width:480px;">
    <h2><%= image_tag("tvSeries.png")%></h2>
    <p>This PBS series is about redemption, hope, helping others and making a difference. It tells positive and uplifting stories about shelter pets improving the lives of those who connect with them.</p><br>
    <%= image_tag("logo.png", alt: "Shelter Me", class: "logo-large") %>
    <p>The second episode is currently airing on PBS throughout the country.</p><br><br>
    <a href="http://www.shelterme.tv" target="_blank" style="font-size:14px;">Learn more about the show</a>
  </div>
  <div class="heroContent heroVideo">
    <iframe width="436" height="245" src="http://www.youtube.com/embed/RlR6-tQ9Zo8?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>