<div class="container">
  <div class="heroBlurb" style="width:480px;">
    <h2><%= image_tag("tvSeries.png")%></h2>
    <p>ShelterMe is an inspiring PBS series that celebrates shelter pets. We tell positive and uplifting stories about shelter pets improving the lives of those who connect with them. It is about redemption, hope, helping others and making a difference.</p>
    <%= image_tag("logo.png", alt: "Shelter Me", class: "logo-large") %>
    <p>The first episode shows the journey of two stray dogs, from being rescued off of the street until they become beloved family pets. The second episode premieres nationally on PBS in April.</p><br>
    <a href="http://www.shelterme.tv" target="_blank" style="font-size:14px;">Learn more about the show</a>
  </div>
  <div class="heroContent heroVideo">
    <iframe width="436" height="245" src="http://www.youtube.com/embed/hbpuzl3BNeI?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>