<div class="container">
  <div class="heroBlurb" style="width:540px;">
    <h2><%= image_tag("theSocialNetwork.png") %></h2>
    <p>There are millions of pets in our shelters waiting for homes and they need your help! Even if you're not looking to adopt, you can give shelter pets an online presence and help them find a home.</p>
    <div class="smallCat">
      <%= image_tag("smallHeroCat.png") %>
    </div>
    <p>Our goal is to increase the visibility of shelter pets. Do you have some basic Internet skills? You can help!</p><br>
    <p><a href="#heroCarousel" data-slide="next">Learn more</a></p>
  </div>
  <div class="heroContent heroLogo">
    <%= image_tag("logoHero.png") %>
  </div>
</div> 