<div class="container">
  <div class="heroBlurb">
    <h2><%= image_tag("improvingLives.png") %></h2>
    <p>Every year, 3 - 4 million dogs and cats are euthanized in America's shelters. Most people have never been to a pet shelter and may not even know where their local shelter is.</p><br>
    <%= image_tag("logo.png", alt: "Shelter Me", class: "logo-large", style: "margin-top:40px;") %>
    <p>ShelterMe.com enables anyone to create and then share a profile of a shelter pet. Having great profiles in one place will help others who are looking to adopt be able to find shelter pets in their area.</p><br>
    <p>Whether you are creating a profile or searching for a pet, our site will help these incredible pets find new and loving homes. <%= link_to "More about us.", about_path %></p>
  </div>
  <div class="heroContent heroDog">
    <%= image_tag("heroDog.png") %>
  </div>
</div>