<div class="container hero">
	<%= image_tag("logo.png", alt: "Shelter Me", class: "logo-large") %>
	<h2>This is the 3rd page for the Shelter Me</h2>
	<p>Well, I didn't vote for you. Oh, ow! The Lady of the Lake, her arm clad in the purest shimmering samite, held aloft Excalibur from the bosom of the water, signifying by divine providence that I, Arthur, was to carry Excalibur. That is why I am your king.</p>
</div>