<div class="container hero">
	<%= image_tag("logo.png", alt: "Shelter Me", class: "logo-large") %>
	<h2>This is the 4th page for the Shelter Me</h2>
	<p>Fat Tony is a cancer on this fair city! He is the cancer and I am the…uh…what cures cancer? Brace yourselves gentlemen. According to the gas chromatograph, the secret ingredient is… Love!?</p>
</div>