<div class="pet-tile">
	<div class="tile-photo">
		<%= image_tag("300x200.gif") %>
	</div>
	<div class="pet-icons">
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="pet-info">
		<h3>Pet Name</h3>
		<p>
			<span class="breed-tile">Breed</span>
			 at 
			<span class="shelter-tile">Shelter</span>
		</p>
	</div>
</div>