<div id="waiting" class="hide">
 <%= image_tag("spinner.gif")%>
 <br>
 <h2 style="text-align:center;">Searching...</h2>
</div>
<div class="findBlurb">
  <%= image_tag("adoptAPet.png")%><br><br>
  <p>No matter what kind of pet you want, you can find it in a shelter.</p>
  <p>Find an incredible animal here, visit it in the shelter and help give it a second chance.</p>
</div>
<div class="row">
  <div class="findPets">
    <%= image_tag("findPets.png")%>
  </div>
  <div class="cornerLogo">
    <%= image_tag("logo_small.png", alt: "Shelter Me") %>
  </div>
</div>