<%= f.label "Fur Length", class: "control-label"%>
<div class="btn-group three-btn btn-graphic btn-two-column" data-toggle="buttons-radio" data-toggle-name="pet[fur_length_id]">
  <button type="button" data-toggle="button" class="btn" value="1">Short</button>
  <button type="button" data-toggle="button" class="btn" value="2">Medium</button>
  <button type="button" data-toggle="button" class="btn" value="3">Long</button>
</div>
<%= f.hidden_field :fur_length_id, label: false %>
<%= f.association :primary_color, label_method: :color, include_blank: false %>
<%= f.association :secondary_color, label_method: :color %>