<div class="control-group string read-only">
  <div class="string control-label">
    Profile Created
  </div>
  <div class="controls">
    <input type="text" value="<%= @pet.created_at.strftime("%A, %B %d at %I:%M%p") %>" readonly="readonly">
  </div>
</div>
