<%= f.label "Energy Level", class: "control-label"%>
<div class="btn-group three-btn btn-graphic btn-two-column" data-toggle="buttons-radio" data-toggle-name="pet[energy_level_id]">
  <button type="button" data-toggle="button" class="btn" value="1">Relaxed</button>
  <button type="button" data-toggle="button" class="btn" value="2">Balanced</button>
  <button type="button" data-toggle="button" class="btn" value="3">Tireless</button>
</div>
<%= f.hidden_field :energy_level_id, label: false %>