<label class="string required control-label" for="pet_Energy_Level"><abbr title="required">*</abbr> Energy Level</label>
<div class="btn-group three-btn btn-graphic btn-two-column" data-toggle="buttons-radio" data-toggle-name="pet[energy_level_id]">
  <button type="button" data-toggle="button" class="btn" value="1">Relaxed</button>
  <button type="button" data-toggle="button" class="btn" value="2">Moderate</button>
  <button type="button" data-toggle="button" class="btn" value="3">Energetic</button>
</div>
<%= f.hidden_field :energy_level_id, label: false %>