<%= f.label "Nature", class: "control-label", required: true %>
<div class="btn-group three-btn btn-graphic btn-two-column" data-toggle="buttons-radio" data-toggle-name="pet[nature_id]">
  <button type="button" data-toggle="button" class="btn" value="1">Submissive</button>
  <button type="button" data-toggle="button" class="btn" value="2">Playful</button>
  <button type="button" data-toggle="button" class="btn" value="3">Confident</button>
</div>
<%= f.hidden_field :nature_id, label: false %>