@import "bootstrap";

/* MIXINS & VARIABLES */

$grayMediumLight: #eaeaea;

$offWhite: #fcfcfc;

$brownDark: #702802;
$brownMediumDark: #ddd8d5;
$brownMedium: #d9d1ce;
$brownMediumLight: #efebe8;
$brownLight: #f2eeeb;
$brownLightest: #faf9f7;

$orange: #ec520a;
$orangeDark: #d54509;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

.show-grid [class*="span"] {
	background-color: $brownMedium;
	text-align: center;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	min-height: 30px;
	line-height: 30px;
	margin-top: 100px;
}

/* UNIVERSAL */

html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
	background: $brownMediumLight url(bkg.png) repeat-x left 50px;
	height: 100%;
}

#sm {
	width: 100%;
	min-height: 91% !important;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 10px;
  text-align: left;
	display: inline;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
	margin-left: 0;
	margin-top: 20px;
  text-align: left;
  font-weight: bold;
	letter-spacing: 0.7px;
	text-transform: uppercase;
  color: $orange;
	font-family: Georgia, "Times New Roman", Times, serif; 
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.static-header {
	background-color: $grayMediumLight;
	padding: 6px 0 6px 10px;
	border: 1px solid $grayLight;
}

/* HEADER */

#logo {
  float: left;
  margin-right: 10px;
	margin-left: -40px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 11px;
  font-weight: bold;
  line-height: 28px;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.navbar-fixed-top {
	height: 50px;
}

.navbar-inner {
	background-color: $orange;
	background-image: -moz-linear-gradient(top, $orange, $orangeDark);
	background-image: -ms-linear-gradient(top, $orange, $orangeDark);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($orange), to($orangeDark));
	background-image: -webkit-linear-gradient(top, $orange, $orangeDark);
	background-image: -o-linear-gradient(top, $orange, $orangeDark);
	background-image: linear-gradient(top, $orange, $orangeDark);
	background-repeat: repeat-x;
}

.navbar .nav > li > a {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 30px;
	text-shadow: none;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.subnav {
	left: 0;
	right: 0;
	height: 120px;
	background-color: $offWhite;
	-webkit-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.15);
	-moz-box-shadow:    0px 1px 2px rgba(50, 50, 50, 0.15);
	box-shadow:         0px 1px 2px rgba(50, 50, 50, 0.15);
}

/* FOOTER */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
	background-color: $brownMedium;
	height: 52px;
	right: 0;
	left: 0;
	margin-bottom: 0;
	z-index: 1030;
  a {
    color: $gray;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: bold;
    &:hover { 
      color: $grayDarker;
    }
  }
  small {
    float: left;
		font-size: 11px;
		color: $gray;
  }
  ul {
    float: right;
    list-style: none;
		margin-top: 4px;
		margin-left: 0;
    li {
      float: left;
      margin-right: 30px;
    }
  }
}

.social-footer {
	width: 300px;
	height: 68px;
	margin-top: -16px;
	background-color: $orange;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	h3 {
		display: inline;
		color: white;
		font-size: 15px;
		letter-spacing: 1.5px;
		font-family: Georgia, "Times New Roman", Times, serif;
		margin: 0 12px 0 12px;
	}
}

/* MISCELLANEOUS */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* FRONT PAGE HERO */

.logo-large {
	margin-top: 50px;
	left:0;
	display:block;
}

.hero {
	display: block;
	left: 0;
	height: 364px;
	text-align:left;
	overflow: hidden;
	h2 {
		text-align:left;
		color: $brownDark;
		font-size: 28px;
		margin-top: 50px;
		margin-bottom: 10px;
		text-transform: none;
		font-family: Georgia, "Times New Roman", Times, serif;
	}
	p {
		color: $brownDark;
		width: 580px;
		font-size: 14px;
		margin-bottom: 10px;
	}
}

.front-content {
	position: relative;
}

.carousel {
	background: url(hero_bkg.png) repeat-x;
	-webkit-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.15);
	-moz-box-shadow:    0px 1px 2px rgba(50, 50, 50, 0.15);
	box-shadow:         0px 1px 2px rgba(50, 50, 50, 0.15);
}

/* USER SIDEBAR */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* FORMS */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* USERS INDEX */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter
    }
  }
}

/* MICROPOSTS */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* PET PROFILE */

.description {
	display: block;
	background-color: $grayLighter;
	height: 150px;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.address {
	display: block;
	float: left;
	background-color: $grayLighter;
	padding-top: 10px;
	margin: 0;
	height: 150px;
	text-align: center;
	width: 50%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.map {
	float: left;
	overflow: hidden;
	background-color: $grayLight;
	padding: 0;
	margin: 0;
	height: 160px;
	width: 50%;
}

.carousel {
	height: 100%;
	background-color: $grayLighter;
}

.btn-header {
	float: right;
	margin-right: 50px;
}

.pets {
	margin-top: 20px;
}

.legend {
	height:60px;
	margin-bottom: 20px;
}

.btn-print {
	display: inline;
	margin-left: 50px;
}

/* PET TILES */

.pet-tile {
	display: inline;
	float: left;
	position: relative;
	margin-right: 8px;
	margin-bottom: 10px;
	background-color: $offWhite;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

.tile-photo img {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.pet-icons {
	display:block;
	ul {
		list-style: none;
		margin: 2px 0 0 1px;
		padding: 0;
	}
	li {
		float: left;
		background-color: $grayMediumLight;
		height: 46px;
		width: 46px;
		margin: 3px 0 0 3px;
		-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
		box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	}
}

.pet-info {
	clear:both;
	margin:6px;
	padding-top:6px;
	width: 288px;
	height: 35px;
	overflow: hidden;
	h3 {
		font-size:16px;
		margin-bottom:4px;
	}
	p {
		color: darkgray;
		font-size: 13px;
		line-height: 1;
		margin-bottom: 0;
	}
	.breed-tile {
		color: gray;
	}
	.shelter-tile {
		color: deepskyblue;
		font-weight: bold;
	}
}

/* FEATURED SHELTER */

.featured-shelter {
	margin-top: 50px;
	h4 {
		text-transform: uppercase;
		color: $orange;
		font-family: Georgia, "Times New Roman", Times, serif; 
		font-size: 12px;
		margin-top:16px;
		margin-bottom:10px;
	}
}

.featured-shelter-map {
	background-color: $offWhite;
	height: 70px;
	width: 608px;
	margin-top: 14px;
	margin-bottom: 15px;
	overflow:hidden;
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

.address-block {
	float:left;
	margin: 16px 10px;
	height: 50px;
	width: 282px;
	overflow: hidden;
	h3 {
		color: $brownDark;
		font-size: 16px;
		margin-bottom: 8px;
	}
	p {
		font-size: 12px;
		line-height: 1.3;
	}
}
.address-map {
	float: right;
	border-left: 1px solid lightgray;
}

/* RIGHT SIDEBAR */

.sidebar {
	float:right;
	margin-top:-20px;
	padding-top: 50px;
	background-color: $offWhite;
	-webkit-border-bottom-left-radius: 12px;
	-webkit-border-bottom-right-radius: 12px;
	-moz-border-radius-bottomleft: 12px;
	-moz-border-radius-bottomright: 12px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
	hr {
		border: 2px solid $brownMediumLight
	}
}

.sidebar-element {
	padding: 0 20px;
	img {
		float: left;
		width: 114px;
		height: 100px;
		margin: 0 8px 24px 0;
	}
	.blurb {
	}
	h3 {
		font-size: 15px;
		margin-bottom: 12px;
		text-transform: uppercase;
		font-family: Georgia, "Times New Roman", Times, serif;
	}
	h4 {
		display: inline;
		font-size: 15px;
		color: $orange;
		margin-bottom: 8px;
	}
	p {
		line-height: 1.3;
		color: gray;
		font-size: 12px;
	}
}