/* MIXINS & VARIABLES */

$grayDark: #333333;
$grayLightDark: #5e6465;
$grayDarkish: #999999;
$grayMediumDark: #c7c7c7;
$grayMediumLight: #eaeaea;
$grayMedium: #d9d7d6;
$grayLight: #f5f3f2;
$grayLighter: #f1efee;
$offWhite: #fdfdfd;

$brownGray: #d3cacb;

$brownDarkest: #722705;
$brownDark: #853a18;
$brownMediumDark: #ddd8d5;
$brownMedium: #d7d0cd;
$brownMediumLight: #efebe8;
$brownLight: #f2eeeb;
$brownLighter: #f4f2f0;
$brownLightest: #faf9f7;

$orange: #ec520a;
$orangeDark: #d54509;
$orangeLight: #f89e4f;

$grayBlue: #3d8aac;
$greenBlue: #17a7ac;
$greenBlueLight: #cbe288;
$blueGray: #e9edee;
$blueLight: #e4f1f3;
$blueSteel: #388cb2;
$blueFade: #c0dce5;
$blueHilite: #49afcd;

.ui-dialog {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
	color: #722705;
  line-height: 26px;
	position: fixed;
	-webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.30);
	-moz-box-shadow:    4px 4px 10px rgba(50, 50, 50, 0.30);
	box-shadow:         4px 4px 10px rgba(50, 50, 50, 0.30);
  background-color: #ffffff;
  border: 1px solid rgb(85, 85, 85);
	padding: 0;
	p {
		font-size: 16px;
		line-height: 22px;
	}
}

.ui-dialog .ui-dialog-titlebar {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 4px 10px;
	color: white;
	font-size: 24px;
	font-weight: normal;
}

.ui-dialog .ui-dialog-titlebar-close {
	display: none;
}

.ui-widget {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.ui-widget-header {
  background: #49afcd;
	color: #ffffff;
}

.ui-dialog .ui-dialog-content {
	overflow: hidden;
  padding: 10px;
  background: #ffffff;
	color: #333333;
}

.ui-dialog .ui-dialog-buttonpane {
	padding: 3px;
	margin: 0;
	border: none;
	background: #ffffff;
	-webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.ui-widget-overlay {
	background: #c7c7c7;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.ui-dialog .ui-dialog-buttonpane button {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0 10px 10px 0;
  color: #722705;
	display: inline-block;
  font-weight: bold;
	text-align: center;
	vertical-align: middle;
  text-transform: uppercase;
  border: 1px solid #c7c7c7;
  width: 105px;
	padding: 5px 10px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-bottom-radius: 12px;
	text-shadow: none;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, white, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, white, #e6e6e6);
	background-image: -o-linear-gradient(top, white, #e6e6e6);
	background-image: linear-gradient(to bottom, white, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6', GradientType=0);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border: 1px solid #cccccc;
	border-bottom-color: #b3b3b3;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	a {
		text-indent: 0;
	}
  &:hover {
    color: $orange;
  }
	&:focus {
		outline: none;
		background-color: $orangeLight;
		background-image: none;
		border: 1px solid $brownDark;
		&:hover {
			color: white;
		}
	}
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	border: none;
	background: white;
	color: $grayLightDark;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border: 1px solid $blueSteel;
	background: $blueHilite;
	font-weight: bold;
	color: white;
}

#deletePet, #findPetAlert {
	display: none;
}

#petStatusChange {
	display: none;
	height: auto;
	.old, .new {
		text-transform: lowercase;
		font-weight: bold;
		color: #000000;
	}
	.form-horizontal .control-label {
		width: 100px;
	}
	label {
		font-size: 15px;
	}
	.form-horizontal .controls {
		margin-left: 120px;
	}
	input[type="text"] {
		font-size: 15px;
	}
}