/* LARGE ICONS */
/* used for page headers, pet photo slider */

.largeIcon { 
	background-image: url(largeIconSprite.png); 
	background-color: transparent; 
	background-repeat: no-repeat;
	width: 65px;
	height: 65px;
	&.absentIcon {
		background-position: -330px -66px;
	}
	&.addIcon {
		background-position: -132px -132px;
	}
	&.adoptedIcon {
		background-position: -264px -132px;
	}
	&.blogIcon {
		background-position: 0 0;
	}
	&.catIcon {
		background-position: -66px -66px;
	}
	&.cropIcon {
		background-position: -66px -132px;
	}
	&.dogIcon {
		background-position: -198px 0;
	}
	&.editIcon {
		background-position: 0 -66px;
	}
	&.editProfileIcon {
		background-position: -132px -66px;
	}
	&.findIcon {
		background-position: -330px 0;
	}
	&.fosteredIcon {
		background-position: 0 -132px;
	}
	&.matchMeIcon {
		background-position: -264px 0;
	}
	&.photoIcon {
		background-position: -264px -66px;
	}
	&.rescuedIcon {
		background-position: -66px 0;
	}
	&.shelterIcon {
		background-position: -198px -66px;
	}
	&.unavailableIcon {
		background-position: -198px -132px;
	}
	&.videoIcon {
		background-position: -132px 0;
	}
}

/* MEDIUM ICONS */
/* used for pet tiles, followed users */

.mediumIcon { 
	background-image: url(mediumIconSprite.png); 
	background-color: transparent; 
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	&.absentIcon { 
		background-position: -153px -51px;
	}
	&.addIcon { 
		background-position: -204px -51px;
	}
	&.adoptedIcon { 
		background-position: -51px 0;
	}
	&.blogIcon { 
		background-position: 0 -51px;
	}
	&.catIcon { 
		background-position: -51px -102px;
	}
	&.cropIcon { 
		background-position: -204px 0;
	}
	&.dogIcon { 
		background-position: -153px -102px;
	}
	&.editIcon { 
		background-position: -255px 0;
	}
	&.editProfileIcon { 
		background-position: -204px -102px;
	}
	&.findIcon { 
		background-position: -102px -51px;
	}
	&.fosteredIcon { 
		background-position: -51px -51px;
	}
	&.matchMeIcon { 
		background-position: -102px 0;
	}
	&.photoIcon { 
		background-position: -153px 0;
	}
	&.rescuedIcon { 
		background-position: -102px -102px;
	}
	&.shelterIcon { 
		background-position: 0 0;
	}
	&.unavailableIcon { 
		background-position: 0 -102px;
	}
	&.videoIcon { 
		background-position: -255px -51px;
	}
}

/* SMALL ICONS */
/* used for statistics, history tiles */

.smallIcon { 
	background-image: url(smallIconSprite.png); 
	background-color: transparent; 
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	&.absentIcon { 
		background-position: -164px -41px;
	}
	&.addIcon { 
		background-position: -123px -82px;
	}
	&.adoptedIcon { 
		background-position: -82px 0;
	}
	&.blogIcon { 
		background-position: -123px 0;
	}
	&.catIcon { 
		background-position: -82px -82px;
	}
	&.cropIcon { 
		background-position: 0 0;
	}
	&.dogIcon { 
		background-position: -123px -41px;
	}
	&.editIcon { 
		background-position: -41px -82px;
	}
	&.editProfileIcon { 
		background-position: -205px 0;
	}
	&.findIcon { 
		background-position: -41px -41px;
	}
	&.fosteredIcon { 
		background-position: -41px 0;
	}
	&.matchMeIcon { 
		background-position: 0 -82px;
	}
	&.photoIcon { 
		background-position: -164px -82px;
	}
	&.rescuedIcon { 
		background-position: -82px -41px;
	}
	&.shelterIcon { 
		background-position: -205px -41px;
	}
	&.unavailableIcon { 
		background-position: 0 -41px;
	}
	&.videoIcon { 
		background-position: -164px 0;
	}
}