* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-text-size-adjust: none;
   margin:0;
   padding:0;
}

html {
	height: 100%;
	width: 100%;
}

body {
   -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
   -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
   -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
   background-color:#fefefe;
   background-image:linear-gradient(top, #efebe9 0%, #fefefe 51%);
   background-image:-webkit-linear-gradient(top, #efebe9 0%, #fefefe 51%);
   background-image:-ms-linear-gradient(top, #efebe9 0%, #fefefe 51%);
   background-image:-webkit-gradient(
       linear,
       left top,
       left bottom,
       color-stop(0, #efebe9),
       color-stop(0.51, #fefefe)
   );
   font-family:'HelveticaNeue', Helvetica, Arial, sans-serif;
   text-align:center;
   height:100%;
   width:100%;
	 overflow:hidden;
}

p {
	padding-top: 20px;
  color:#ec520a;
  font-size:16px;
  text-transform:uppercase;
}

.logo {
	position:absolute;
	left:50%;
}

.splash {
	position:absolute;
	bottom:0;
	width:100%;
	img {
		height: 100%;
		padding-bottom:0;
		margin-bottom:0;
		border: 0;
	}
}

/* Low vertical resolution (old iPhone, some Android) */
@media only screen and (min-device-width:320px) and (max-device-width: 480px) {
	.logo {
		top:0px;
		width:280px;
		height:119px;
    text-align:center;
    padding:60px 0px 0px 0px;
    margin:0px 0px 0px -140px;
	}
	.splash {
		height: 150px;
	}
}

/* Low horizontal resolution (old iPhone, some Android) */
@media only screen and (min-device-width:320px) and (max-device-width: 480px) and (width: 480px) {
	.logo {
		top:0px;
		width:327px;
		height:139px;
    text-align:center;
    padding:60px 0px 0px 0px;
    margin:0px 0px 0px -164px;
	}
	.splash {
		display: none;
	}
}

/* Retina (iPhone4) vertical resolution */
@media only screen and (min-device-width:640px) and (max-device-width: 960px) {
	.logo {
		top:0px;
		width:560px;
		height:238px;
	  text-align:center;
	  padding:120px 0px 0px 0px;
	  margin:0px 0px 0px -280px;
	}
	.splash {
		height: 300px;
	}
}

/* Retina (iPhone4) horizontal resolution */
@media only screen and (min-device-width:640px) and (max-device-width: 960px) and (width: 960px) {
	.splash {
		display: none;
	}
}

/* Retina (iPhone5) vertical resolution */
@media only screen and (min-device-width:640px) and (max-device-width: 1136px) {
	.logo {
		top:0px;
		width:560px;
		height:238px;
	  text-align:center;
	  padding:208px 0px 0px 0px;
	  margin:0px 0px 0px -280px;
	}
	.splash {
		height: 300px;
	}
}

/* Retina (iPhone5) horizontal resolution */
@media only screen and (min-device-width:640px) and (max-device-width: 1136px) and (width: 1136px) {
	.splash {
		display: none;
	}
}