.profileText {
	background-image: url(profile_text.png);
	background-color: transparent;
	
	background-repeat: no-repeat;
}

.addCommentText {
	width: 115px;
	height: 11px;
	background-position: -440px -12px;
}
	
.askAboutText {
	width: 86px;
	height: 11px;
	background-position: -470px 0;
	display: inline-block;
	margin-top: 9px;
}
	
.commentsText {
	width: 86px;
	height: 11px;
	background-position: -383px 0;
}
	
.descriptionText {
	width: 103px;
	height: 11px;
	background-position: -77px 0;
}
	
.favoriteSheltersText {
	width: 153px;
	height: 10px;
	background-position: -229px 0;
}
	
.followingMeText {
	width: 118px;
	height: 11px;
	background-position: -117px -12px;
}
	
.goToText {
	width: 47px;
	height: 11px;
	background-position: -181px 0;
	display: inline-block;
	margin-top: 9px;
}
	
.myIdealPetText {
	width: 104px;
	height: 10px;
	background-position: -335px -12px;
}
	
.mySponsorText {
	width: 98px;
	height: 11px;
	background-position: -236px -11px;
}
	
.shareMeText {
	width: 76px;
	height: 11px;
	background-position: 0 0;
}
	
.specialNeedsText {
	width: 116px;
	height: 11px;
	background-position: 0 -12px;
}
	
