<div id="mainError" class="noPrint"> <!-- ERROR ALERTS GO HERE -->
  <% flash.each do |key, value| %>
    <div class="errorBox">
      <button class="close closeError" data-dismiss="alert"><i class="icon-remove" style="margin-top:5px;"></i></button>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    </div>
  <% end %>
</div>